/* common */

@charset "utf-8";

body {
  margin: 0;
  background: #F4F9FE;
  color: #333333;
}

/* サイト全体のコンテンツ幅 */
.container {
  margin: 0 auto;
  max-width: 1000px;
  /* width: calc(100% - 20px); */
  /* ↑を設定してもheaderとheroしか付けられなかった
  今回は1000px超えてもmargin-autoでつくし、1024px以下での設定では左右にpaddingつけてるから大丈夫
  inner部分とはwidthが違うから別で設定が必要 */
}

/* 中のコンテンツ部分の最大幅 */
.inner {
  max-width: 600px;
  margin: 0 auto;
  /* それぞれの中身を.innerで囲ってあげると、(text-align:leftなら)行頭が揃ってキレイに見える */
}

img {
  max-width: 100%;
  /* width: 100%; */
  /* ↑だとロゴも横幅いっぱいまで広がっちゃう */
}

h1,
h2 {
  font-size: 18px;
}

ol {
  padding: 0;
}

a {
  color: inherit;
  font-size: 14px;
}

a:hover {
  opacity: .8;
}

/* header */

  header {
    margin-top: 60px;
  }

/* .hero */

.hero {
  margin-bottom: 60px;
  text-align: center;
}

/* index */

.index {
  padding: 30px 0;
  margin-bottom: 60px;
  background: white;
}

.index h1 {
  margin: 0;
  margin-bottom: 18px;
}

.index ol {
  margin: 0;
  margin-left: 20px;
}
/* olの数字がどうしても枠からはみ出てliにmarginしても動かんからh2のmarginを数字のpx分引いたりこねくり回した...olにmargin-leftするのが一番手っ取り早いしシンプル
数字はol要素のリストスタイルだから？ 
デフォルトでtopとbottomにmarginついてるから他と被らないように外した*/

.index li {
  font-size: 14px;
}

.index li + li {
  padding-top: 20px;
}

/* detail */

.detail {
  margin-bottom: 100px;
}

.detail img {
  width: 270px;
  /* height: 270px; */
  /* heightの設定はいらん。画面小さくなってspのレイアウトの時に画像が歪む */
}

.detail .box {
  display: flex;
  gap: 60px;
  align-items: flex-start;
  /* ↑topじゃないよ */
}

.detail h2 {
  margin-top: 0;
}

.detail dl {
  font-size: 14px;
  display: flex;
  padding: 20px 0;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  /* ↑が効かなくてdtとddがごちゃごちゃに配列されちゃってうまく改行してくれなかったから、dtにwidthを設定したらうまくいった */
}

.detail dt {
  width: 25%;
}

.detail dd {
  margin: 0;
  /* デフォルトでmargin設定されてるから、二行に分かれちゃう */
  width: 75%;
}

.detail p {
  font-size: 14px;
}

/* footer */

footer {
  font-size: 10px;
  padding: 15px 0;
}

@media (max-width: 1024px) {

  .inner {
    padding: 0 40px;
    /* margin: 0 40px; */
  }
  /* 600px以下になっても左右の余白をつけられる */

  header,
  .hero {
    padding: 0 10px;
    /* margin: 0 10px; */
  }

  .detail .box {
    flex-direction: column;
  }

  .detail img {
    width: 100%;
    /* ↑の設定しないとwidth:270pxで設定したままになっちゃうから */
  }
  
}